.friend-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.friend {
    border: solid black 2px;
    width: 30%;
    border-radius: 25px;
    padding: 2%;
}

.friend button {
    border-radius: 25px;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}
